<html>
    <body>
    <div class='container'>
        <div class="jumbotron">
			<form id='form1' method="POST" action="/usrd_DLPbyBC">
					<p>
					<label for="ToYear">To Year</label>
					<input type="text" name="ToYear">
					</p>
					<br>

					<p>
					<label for="FromYear">From Year</label>
					<input type="text" name="FromYear">
					</p>
					<br>

					<p>
					<label for="Sorting">Sorting</label>
					<input type="text" name="Sorting">
					</p>
					<br>

			</form>
				<button type="submit" form="form1" value="Submit">Submit</button>
        </div>
	</div>
    </body>
</html>