{% load mathfilters %}
<!doctype html>

<html lang="en">



           <style>
            table
           {
               box-sizing: border-box;
           }
           /* Set additional styling options for the columns */
           .column {
           float: left;
           }
       
           /* Set width length for the left, right and middle columns */
           .left {
           width: 20%;
           }
       
           .middle {
           width: 20%;
           }
           
           .right {
           width: 20%;
           }
       
           .row:after {
           content: "";
           display: table;
           clear: both;
           }
           </style>
    

        <body>
           <div class="row">
               <div class="column left" style="background-color:#FFB695;">
                   <h2>BL</h2>
                   <p>Water</p>
                   <p>Transportation</p>
                   <p>Buildings</p>
                   <p>Energy & Resources</p>
                   <p>Environmental Services</p>
                   <br>
                   <b style= "font-size: 30px;">TOTAL</b>

               </div>
               <div class="column middle" style="background-color:#96D1CD;">
                   <h2>Number(N)</h2>
                   <p>{{numberWater}}</p>
                   <p>{{numberTransportation}}</p>
                   <p>{{numberBuildings}}</p>
                   <p>{{numberEnergyandResources}}</p>
                   <p>{{numberEnvironmentalServices}}</p>
                   <br>
                   <b style= "font-size: 30px;">{{sumBLnumber}}</b>
               </div>
               <div class="column right" style="background-color:#74C3E1;">
                   <h2>Number(%)</h2>
                   {% with numerator=numberWater denominator=sumBLnumber %}
                   <p> 
                       
                    {{numerator|div:denominator|floatformat:2}}% 
                </p>
                    {% endwith %}
                    {% with numerator=numberTransportation denominator=sumBLnumber %}
                    <p> 
                        
                     {{numerator|div:denominator|floatformat:2}}% 
                 </p>
                     {% endwith %}
                     {% with numerator=numberBuildings denominator=sumBLnumber %}
                     <p> 
                         
                      {{numerator|div:denominator|floatformat:2}}% 
                  </p>
                      {% endwith %}
                      {% with numerator=numberEnergyandResources denominator=sumBLnumber %}
                      <p> 
                          
                       {{numerator|div:denominator|floatformat:2}}% 
                   </p>
                       {% endwith %}
                       {% with numerator=numberEnvironmentalServices denominator=sumBLnumber %}
                       <p> 
                           
                        {{numerator|div:denominator|floatformat:2}}% 
                    </p>
                        {% endwith %}
                        <br>
                        <b style= "font-size: 30px;">100%</b>
               </div>
               <div class="column right" style="background-color:#96D1CD;">
                <h2>Total Amount($)</h2>
                <p>${{sumWaterTax.total}}</p>
                <p>${{sumTransportationTax.total}}</p>
                <p>${{sumBuildingsTax.total}}</p>
                <p>${{sumEnergyandResourcesTax.total}}</p>
                <p>${{sumEnvironmentalServicesTax.total}}</p>
                <br>
                <b style= "font-size: 30px;">{{sumBLtax.sum_BLtax}}</b>
            </div>
            <div class="column right" style="background-color:#74C3E1;">
                <h2>Total Amount(%)</h2>
                {% with numerator=sumWaterTax.total denominator=sumBLtax.sum_BLtax %}
                <p>
                    {{numerator|div:denominator|floatformat:2}}% 
                </p>
                    {% endwith %}
                {% with numerator=sumTransportationTax.total denominator=sumBLtax.sum_BLtax %}
                <p>
                    {{numerator|div:denominator|floatformat:2}}% 
                </p>
                    {% endwith %}
                {% with numerator=sumBuildingsTax.total denominator=sumBLtax.sum_BLtax %}
                <p>
                    {{numerator|div:denominator|floatformat:2}}% 
                </p>
                    {% endwith %}
                {% with numerator=sumEnergyandResourcesTax.total denominator=sumBLtax.sum_BLtax %}
                <p>
                    {{numerator|div:denominator|floatformat:2}}% 
                </p>
                    {% endwith %}
                {% with numerator=sumEnvironmentalServicesTax.total denominator=sumBLtax.sum_BLtax %}
                <p>
                    {{numerator|div:denominator|floatformat:2}}% 
                </p>
                    {% endwith %}
                    <br>
                    <b style= "font-size: 30px;">100%</b>
            </div>
           </div>
       


<!-- <body>
    <table>
            <tr>
                <th>BL</th>
                <th>Number(N)</th>
                <th>Number(%)</th>
                <th>Total Amount($)</th>
                <th>Total Amount(%)</th>
              </tr>
        <tr>
             
            <tr>
                <td>Water</td>
            </tr>
            <tr>
                <td>Transportation</td>
            </tr>
            <tr>
                <td>Buildings</td>
            </tr>
            <tr>
                <td>Energy & Resources</td>
            </tr>
            <tr>
                <td>Environmental Services</td>
         </tr> 
            <tr>
                <td>{{numberWater}}</td>
            </tr>
            <tr>
                <td>{{numberTransportation}}</td>
            </tr>
            <tr>
                <td>{{numberBuildings}}</td>
            </tr>
            <tr>
                <td>{{numberEnergyandResources}}</td>
            </tr>
            <tr>
                <td>{{numberEnvironmentalServices}}</td>
        </tr>
        </tr> 
            <tr>
                {% with numerator=numberWater denominator=sumBLnumber %}
                <td>{{numerator|div:denominator|floatformat:2}}%</td> 
                {% endwith %}
            </tr>
            <tr>
                {% with numerator=numberTransportation denominator=sumBLnumber %}
                <td>{{numerator|div:denominator}}%</td> 
                {% endwith %}
            </tr>
            <tr>
                {% with numerator=numberBuildings denominator=sumBLnumber %}
                <td>{{numerator|div:denominator}}%</td> 
                {% endwith %}
            </tr>
            <tr>
                {% with numerator=numberEnergyandResources denominator=sumBLnumber %}
                <td>{{numerator|div:denominator}}%</td> 
                {% endwith %}
            </tr>
    <tr>
                {% with numerator=numberEnvironmentalServices denominator=sumBLnumber %}
                <td>{{numerator|div:denominator}}%</td> 
                {% endwith %}
                </tr>
                </tr> 
                <tr>
                    <td>${{sumWaterTax.total}}</td>
                </tr>
                <tr>
                    <td>${{sumTransportationTax.total}}</td>
                </tr>
                <tr>
                    <td>${{sumBuildingsTax.total}}</td>
                </tr>
                <tr>
                    <td>${{sumEnergyandResourcesTax.total}}</td>
                </tr>
                <tr>
                    <td>${{sumEnvironmentalServicesTax.total}}</td>
        </tr> 
        </tr> 
                <tr>
                    {% with numerator=sumWaterTax.total denominator=sumBLtax.sum_BLtax %}
                    <td>{{numerator|div:denominator}}%</td> 
                    {% endwith %}
                </tr>
                <tr>
                    {% with numerator=sumTransportationTax.total denominator=sumBLtax.sum_BLtax %}
                    <td>{{numerator|div:denominator}}%</td> 
                    {% endwith %}
                </tr>
                <tr>
                    {% with numerator=sumBuildingsTax.total denominator=sumBLtax.sum_BLtax %}
                    <td>{{numerator|div:denominator}}%</td> 
                    {% endwith %}
                </tr>
                <tr>
                    {% with numerator=sumEnergyandResourcesTax.total denominator=sumBLtax.sum_BLtax %}
                    <td>{{numerator|div:denominator}}%</td> 
                    {% endwith %}
                </tr>
                <tr>
                    {% with numerator=sumEnvironmentalServicesTax.total denominator=sumBLtax.sum_BLtax %}
                    <td>{{numerator|div:denominator}}%</td> 
                    {% endwith %}
        </tr> 
       
    </table>
    <br>
    <tr>
      <th>TOTAL</th>
      <th>{{sumBLnumber}}</th>
      <th>100%</th>
      <th>{{sumBLtax.sum_BLtax}}</th> 
      <th>100%</th>
    
  </tr>
        
        
        
         -->
        
        
        
        
        
        <!-- {% for number in numberN %}
            <tr>
                <td>{{number.the_count}}</td> 
            </tr>      
            {% endfor %}
            
            {% for number in numberN %} 
            <tr>
                {% with numerator=number.the_count denominator=sumallNumber.the_count %}
                <td>{{numerator|div:denominator}}%</td> 
                {% endwith %}
            </tr>      
            {% endfor %}

            {% for total in sumcreditTax %}
            <tr>
                <td>${{total.sum_creditTax}}</td> 
                </tr>      
        {% endfor %}
            </tr>
      
        </tr>
            {% for total in sumcreditTax %} 
            <tr>
                {% with numerator=total.sum_creditTax denominator=sumallcreditTax.sum_creditTax %}
                <td>{{numerator|div:denominator}}%</td> 
                {% endwith %}
            </tr>      
            {% endfor %} -->
            

        
              
    


        
        <!-- <tr>
            <th>Number(N)</th>
          </tr>
         
          {% for number in numberN %}
          
          <tr>
              <td>{{number.the_count}}</td> 
          </tr>       
          {% endfor %} -->
                 
          
          <!-- <tr>
            <th>BC</th>
            <th>Number(N)</th>
            <th>Number(%)</th>
            <th>Total Amount($)</th>
            <th>Amount(%)</th>
      
          </tr>
         
          {% for result in uniqueBC %}
          
          <tr>
              <td>{{result.bc}}</td> 
              <td>{{sum.sumCredit}}</td> 
              <td>{{result.credit}}</td> 
          </tr>       
          {% endfor %} -->
       




</body>

</html>