{% load mathfilters %}
<!doctype html>

<html lang="en">
    <style>
        table
        {
            box-sizing: border-box;
        }
        /* Set additional styling options for the columns */
        .column {
        float: left;
        }
    
        /* Set width length for the left, right and middle columns */
        .left {
        width: 25%;
        }
    
        .middle {
        width: 18%;
        }
        
        .right {
        width: 20%;
        }
    
        .row:after {
        content: "";
        display: table;
        clear: both;
        }
        </style>


<body>
    <div class="column left" style="background-color:#FFB695;">
        <h2>BC</h2>
        {% for result in uniqueBC %} 
        <p>
                {{result.bc}}
            </p>         
            {% endfor %}
            <br>
            <b style= "font-size: 30px;">TOTAL</b>
    </div>
    <div class="column middle" style="background-color:#96D1CD;">
        <h2>Number(N)</h2>
        {% for number in numberN %}
        <p>
         
                {{number.the_count}}
          
        </p> 
            {% endfor %}
            <br>
            <b style= "font-size: 30px;">{{sumallNumber.the_count}}</b>
    </div>
    <div class="column middle" style="background-color:#74C3E1;">
        <h2>Number(%)</h2>
        {% for number in numberN %} 
        <p>
           
                {% with numerator=number.the_count denominator=sumallNumber.the_count %}
                {{numerator|div:denominator|floatformat:2}}%
                {% endwith %}
            </p>      
            {% endfor %}
            <br>
            <b style= "font-size: 30px;">100%</b>      
            
    </div>
    <div class="column middle" style="background-color:#96D1CD;">
        <h2>Total Amount($)</h2>
        
        {% for total in sumcreditTax %}
        <p>    
                ${{total.sum_creditTax}} 
                  
            </p>           
            {% endfor %}
            <br>
            <b style= "font-size: 30px;">{{sumallcreditTax.sum_creditTax}}</b>    
            
    </div>
    <div class="column right" style="background-color:#74C3E1;">
        <h2>Total Amount(%)</h2>
        {% for total in sumcreditTax %} 
        <p>
      
     
            {% with numerator=total.sum_creditTax denominator=sumallcreditTax.sum_creditTax %}
            {{numerator|div:denominator|floatformat:2}}%
            {% endwith %}
        </p>    
        {% endfor %}
        <br>
        <b style= "font-size: 30px;">100%</b> 
             
            
    </div>
    <!-- <table>
            <tr>
                <th>BC</th>
                <th>Number(N)</th>
                <th>Number(%)</th>
                <th>Total Amount($)</th>
                <th>Total Amount(%)</th>
              </tr>
        <tr>
            {% for result in uniqueBC %} 
            <tr>
                <td>{{result.bc}}</td> 
            </tr>      
            {% endfor %}
            
            {% for number in numberN %}
            <tr>
                <td>{{number.the_count}}</td> 
            </tr>      
            {% endfor %}
            
            {% for number in numberN %} 
            <tr>
                {% with numerator=number.the_count denominator=sumallNumber.the_count %}
                <td>{{numerator|div:denominator}}%</td> 
                {% endwith %}
            </tr>      
            {% endfor %}

            {% for total in sumcreditTax %}
            <tr>
                <td>${{total.sum_creditTax}}</td> 
                </tr>      
            {% endfor %}
            </tr>
      
            </tr>
            {% for total in sumcreditTax %} 
            <tr>
                {% with numerator=total.sum_creditTax denominator=sumallcreditTax.sum_creditTax %}
                <td>{{numerator|div:denominator}}%</td> 
                {% endwith %}
            </tr>      
            {% endfor %} -->
            

        
              
    


        
        <!-- <tr>
            <th>Number(N)</th>
          </tr>
         
          {% for number in numberN %}
          
          <tr>
              <td>{{number.the_count}}</td> 
          </tr>       
          {% endfor %} -->
                 
          
          <!-- <tr>
            <th>BC</th>
            <th>Number(N)</th>
            <th>Number(%)</th>
            <th>Total Amount($)</th>
            <th>Amount(%)</th>
      
          </tr>
         
          {% for result in uniqueBC %}
          
          <tr>
              <td>{{result.bc}}</td> 
              <td>{{sum.sumCredit}}</td> 
              <td>{{result.credit}}</td> 
          </tr>       
          {% endfor %} -->
       

      <!-- </table>
      <br>
      <tr>
        <th>TOTAL</th>
        <th>{{sumallNumber.the_count}}</th>
        <th>100%</th>
        <th>{{sumallcreditTax.sum_creditTax}}</th> 
        <th>100%</th>
      
    </tr> -->


</body>

</html>
